<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.kigabyte.laofitness</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>LaoFit 2021</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>laofit2021</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.802253341848-6i23lil31d9pseoakq63ithmh6divgsr</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to NSAppleMusicUsageDescription</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calender is required to NSCalendarsUsageDescription.</string>
	<key>NSCameraUsageDescription</key>
	<string>Needs NSCameraUsageDescription, Use for adding user avatar</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires contacts access to NSContactsUsageDescription.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Faster login to Super Fitness access to NSFaceIDUsageDescription</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Allow NSLocalNetworkUsageDescription for permission dialog</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Needs NSMicrophoneUsageDescription, Use for adding user avatar</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs to be able to access to NSMotionUsageDescription</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Needs NSPhotoLibraryUsageDescription, Use for adding user avatar</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs to be able to access to NSSpeechRecognitionUsageDescription</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
